h1 {
    text-align: center;
}
p {
    color:red
}
.navi {
    
    border:5px;
    margin:auto;
    width:50%;
    list-style: none;
    padding-left: 0;
}

.navi>li {
    
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
    


}
.navi>li>a:hover {
    color:red;
}